<%= form_with(model:post, url:path, data: form_data) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :board_id, value: b_id %>
  
  <p class="form-group">
    <%= f.label :名前, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </p>

  <p class="form-group">
    <%= f.label :本文, class: "form-label" %>
    <%= f.text_area :body, class: "form-control" %>
  </p>

  <p class="form-group">
    <%= f.label :ファイル, class: "form-label" %>
    <%= f.file_field :attached_files, multiple: true %>
  </p>
  
  <%= f.submit submit_text, class: "btn btn-primary btn-lg container-fluid" %>
<% end %>
