<% provide(:title, "#{@board.title}＠掲示板") %>
<div class="row">
  <h2 class="col"><%= @board.title %></h2>
  <div class="col d-flex justify-content-end">
    <%= link_to '削除', boards_destroy_path, data: { turbo_method: :delete, turbo_confirm: "ほんまに消すん？" }, class: "btn btn-danger" %>
  </div>
</div>
<%= paginate @post_list, theme: 'bootstrap-5' %>
<hr>
<% if @board.name.blank? %>
  <p>
    <span class="post-num">1</span>
    <span class="post-name">名無しだよ～ん</span>
    <span class="post-time"><%= l @board.created_at %></span>
  </p>
<% else %>
  <p>
    <span class="post-num">1</span>
    <span class="post-name"><%= @board.name %></span>
    <span class="post-time"><%= l @board.created_at %></span>
  </p>
<% end %>
<p><%= simple_format(@board.body) %></p>
<% if @post_list.count > 0 %>
  <% @post_list.each_with_index do |post, i| %>
    <hr>
    <p>
      <span class="post-num"><%= i+2+(@post_list.current_page-1)*posts_per_page %></span>
      <% if post.name.blank? %>
        <span class="post-name">名無しだよ～ん</span>
      <% else %>
        <span class="post-name"><%= post.name %></span>
      <% end %>
      <span class="post-time"><%= l post.created_at %></span>
    </p>
    <p><%= simple_format(post.body) %></p>
    <% if post.attached_files.attached? %>
      <p class="post-files-field">
        <% post.attached_files.each do |attached_file| %>
          <%= link_to attached_file.blob.filename, rails_blob_path(attached_file, disposition: "inline"), class: "btn btn-primary rounded-pill btn-sm mt-1", role:"button" %>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>

<hr>

<%= paginate @post_list, theme: 'bootstrap-5' %>

<%= render 'boards/post_form', post:@post, path:posts_create_path, submit_text:"投稿", form_data: { turbo: false }, b_id:@board.id %>
