<% provide(:title, "検索") %>

<%= form_with(model: @car, url: cars_search_path, data: { turbo: false }) do |f| %>
  <p class="form-group">
    <%= f.label :分類, class: "form-label" %>
    <div class="form-check btn-group d-inline-flex justify-content-between row row-cols-5 flex-row" data-toggle="buttons" role="group" aria-label="Basic radio toggle button group">
      <% Car.divisions.each do |key, value| %>
        <%= f.radio_button(:division, key, class: "btn-check", autocomplete: "off") %>
        <%= f.label(:division, I18n.t("table.value.car." + key), value: key, class:"btn btn-outline-primary col text-break d-flex align-items-center justify-content-center") %>
      <% end %>
    </div>
  </p>

  <p class="form-group">
    <%= f.label :ナンバー, class: "form-label" %>
    <%= f.number_field :number, in: 1..9999, class: "form-control" %>
  </p>
  <div class="d-grid gap-2">
    <%= f.submit :検索, class: "btn btn-primary" %>
  </div>
<% end %>

<% if (defined? @car_list) != nil && @car_list.count > 0 %>
  <%= render 'cars/simple_table', find_list: @car_list %>
<% elsif (defined? @car_list) != nil %>
  <p>対象の車は見つかりませんでした</p>
<% end %>
