<% provide(:title, "検索") %>

<%= form_with(model: @car, url: cars_search_path, data: { turbo: false }) do |f| %>
  <div class="form-group">
    <%= f.label :分類, class: "form-label" %>
    <div class="form-check  btn-group d-md-flex justify-content-md-end center-block" data-toggle="buttons" role="group" aria-label="Basic radio toggle button group">
      <% Car.divisions.each do |key, value| %>
      <!--
        <label class="btn btn-outline-primary" style="width:20%">
          <% if value == 0 %>
            <%= f.radio_button(:division, key, class: "btn-check", autocomplete: "off", checked: true) %>
          <% else %>
            <%= f.radio_button(:division, key, class: "btn-check", autocomplete: "off") %>
          <% end %>
          <%= I18n.t("table.value.car." + key) %>
        </label>
      -->
        <%= f.radio_button(:division, key, class: "btn-check", autocomplete: "off") %>
        <%= f.label(:division, I18n.t("table.value.car." + key), value: key, class:"btn btn-outline-primary", style: "width:20%") %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ナンバー, class: "form-label" %>
    <%= f.number_field :number, in: 1..9999, class: "form-control" %>
  </div>
  <%= f.submit :検索, class: "btn btn-primary" %>
<% end %>

<% if (defined? @car_list) != nil && @car_list.count > 0 %>
  <%= render 'cars/simple_table', find_list: @car_list %>
<% elsif (defined? @car_list) != nil %>
  <p>対象の車は見つかりませんでした</p>
<% end %>
