<table class="table">
  <% @car.attributes.except('id').each do |key,item| %>
    <tr>
      <% if key == "created_at" || key == "updated_at" %>
        <td><%= I18n.t("activerecord.attributes.car." + key) %></td><td><%= l item %></td>
      <% elsif key == "division" || key == "oil_type" %>
        <td><%= I18n.t("activerecord.attributes.car." + key) %></td><td><%= I18n.t("table.value.car." + item) %></td>
      <% else %>
        <td><%= I18n.t("activerecord.attributes.car." + key) %></td><td><%= item %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="row">
  <%= link_to '編集', cars_edit_path(@car.id), class: "col btn btn-lg btn-primary" %>
  <%= link_to '削除', cars_destroy_path, data: { turbo_method: :delete, turbo_confirm: "ほんまに消すん？" }, class: "col btn btn-lg btn-danger" %>
</div>